body{
	background: #EEE;
	-webkit-user-select: none; /* Chrome/Safari */        
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */
	cursor: default;
}

hr{
	margin: .5em !important;
}
/*
	TOPBAR
*/

header nav{
	background: #1B75CE !important;
	border: 0 !important;
}

header #logo{
	padding: .25em 1em .25em 1em !important;
}

header nav a{
	color: #FFF !important;
}

header nav ul > li a:hover,
header nav ul > li[class = "active"] > a,
header nav button[class = "navbar-toggle"]:hover,
header nav button[class = "navbar-toggle"]:focus
{
	background-color: #0A4F92 !important;
}

header nav button[class = "navbar-toggle"]{
	background-color: inherit;
	border-color: #FFF !important;
}

header nav button[class = "navbar-toggle"] > span[class = "icon-bar"]{
	background-color: #FFF !important;
}

/*
	MENU-SECUNDARIO
*/

#menu-secundario{
	background: #FFF;
	border: 1px solid #DDD !important;
}

#menu-secundario ul > li a{
	color: #333;
}

#menu-secundario ul > li a[class ~= "green"]{
	background: #60AF31;
	color: #FFF;
}

#menu-secundario ul > li a[class ~= "green"]:hover{
	background: #4C9220;
}

#menu-secundario ul > li a:hover{
	background-color: #E7E7E7;
}

#menu-secundario .badge{
	background-color: #0F75DA;
}

/*
	FOOTER
*/
footer{}

footer > span{
	padding: 1em;
}

/*
	SECCION
*/

.seccion{
	background: white;
	/*box-shadow:	2px 2px 2px 0 rgba(0, 0, 0, 0.3);*/
	border: 1px solid #DDD;
	margin-bottom: 1em;
	/*padding: 	.5em;*/
}

.seccion > div{
	padding: .5em;
}

.seccion > .titulo{
	background: white;
	border-top: 3px solid #2DABE1;
	border-bottom: 2px solid #E7E7E7;
	border-radius: inherit;
	max-height: 2.8em;
}

/*
	HELPER CLASSES
*/

/*
	TOOLTIP

.tooltip-inner{
	background: #AAA !important;
}

.tooltip-arrow{
	border-top-color: #AAA !important;
}
*/

.fa-asterisk{
	color: red;
}
.fa-question{
	cursor: pointer;
}