body{
	background: #EEE;
	-webkit-user-select: none; /* Chrome/Safari */        
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */
	cursor: default;
}

hr{
	margin: .5em !important;
}
/*
	TOPBAR
*/

header nav{
	background: #1B75CE !important;
	border: 0 !important;
}

header #logo{
	padding: .25em 1em .25em 1em !important;
}

header nav a{
	color: #FFF !important;
}

header nav ul > li a:hover,
header nav ul > li[class = "active"] > a,
header nav button[class = "navbar-toggle"]:hover,
header nav button[class = "navbar-toggle"]:focus
{
	background-color: #0A4F92 !important;
}

header nav button[class = "navbar-toggle"]{
	background-color: inherit;
	border-color: #FFF !important;
}

header nav button[class = "navbar-toggle"] > span[class = "icon-bar"]{
	background-color: #FFF !important;
}

.notification{
	bottom: -5em;
	color: white;
	display: table;
	margin: 0 0 0 0;
	overflow: hidden;
	position: fixed;
	z-index: 20;
	-webkit-animation-delay: .5s;
	-webkit-animation-direction: alternate;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: 1;
  	-webkit-animation-name: notification;
  	-webkit-animation-fill-mode: forwards;
  	
  	animation-delay: .5s;
	animation-direction: alternate;
	animation-duration: 5s;
	animation-iteration-count: 1;
  	animation-name: notification;
  	animation-fill-mode: forwards;
}

@-webkit-keyframes notification {
	0%   { bottom: -5em; }
	10%  { bottom: 1em; }
	90%  { bottom: 1em; }
	100% { bottom: -5em; }
}

@keyframes notification {
	0%   { bottom: -5em; }
	10%  { bottom: 1em; }
	90%  { bottom: 1em; }
	100% { bottom: -5em; }
}

.notification > span{
	padding: 1em;
}

.success .thumbnail-notification{
	background: #60AF31;
}

.error .thumbnail-notification{
	background: #d9534f;
}

.info .thumbnail-notification{
	background: #1B75CE;
}

.notification .thumbnail-notification{
	display: inline-block;
	min-height: 70px;
	min-width: 70px;
	text-align: center;
}

.notification .message-notification{
	background: white;
	border: 1px gray solid;
	border-left: 0;
	color: black;
	display: table-cell;
	vertical-align: middle;
}

.notification .close-notification{
	color: gray;
	cursor: pointer;
	margin: 1em .5em 1em 1em;
}
.notification .close-notification:hover{
	color: black;
}

/*
	MENU-SECUNDARIO
*/

#menu-secundario{
	background: #FFF;
	border: 1px solid #DDD !important;
	z-index: 10;
}

#menu-secundario ul > li a{
	color: #333;
}

#menu-secundario ul > li a[class ~= "green"]{
	background: #60AF31;
	color: #FFF;
}

#menu-secundario ul > li a[class ~= "green"]:hover{
	background: #4C9220;
}

#menu-secundario ul > li a:hover{
	background-color: #E7E7E7;
}

#menu-secundario .badge{
	background-color: #0F75DA;
}

/*
	FOOTER
*/
footer{}

footer > span{
	padding: 1em;
}

/*
	SECCION
*/

.seccion{
	background: white;
	/*box-shadow:	2px 2px 2px 0 rgba(0, 0, 0, 0.3);*/
	border: 1px solid #DDD;
	margin-bottom: 1em;
	/*padding: 	.5em;*/
}

.seccion > div{
	padding: .5em;
}

.seccion > .titulo{
	background: white;
	border-top: 3px solid #2DABE1;
	border-bottom: 2px solid #E7E7E7;
	border-radius: inherit;
	max-height: 2.8em;
}

/*
	HELPER CLASSES
*/

/*
	TOOLTIP

.tooltip-inner{
	background: #AAA !important;
}

.tooltip-arrow{
	border-top-color: #AAA !important;
}
*/

.fa-asterisk{
	color: red;
}
.fa-question{
	cursor: pointer;
}