body{
	background: #eee;
	-webkit-user-select: none; /* Chrome/Safari */        
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */
	cursor: default;
}

nav{
	/*box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) !important;*/
}

hr{
	margin: .5em !important;
}
/*
	TOPBAR
*/

header nav{
	background: #1b75ce !important;
	/*background: linear-gradient(to bottom,#1b75ce 0,#155ba1 150%) !important;*/
	border: 0 !important;
}

header #logo{
	padding: .25em 1em .25em 1em !important;
}

header nav a{
	color: #FFF !important;
}

header nav ul > li a:hover{
	background-color: #0a4f92 !important;
}

header nav ul > li[class = "active"] > a{
	background-color: #0a4f92 !important;
}

header nav button[class = "navbar-toggle"]{
	background-color: inherit;
	border-color: #FFF !important;
}

header nav button[class = "navbar-toggle"]:hover{
	background-color: #0a4f92 !important;
}

header nav button[class = "navbar-toggle"]:focus{
	background-color: #0a4f92 !important;
}

header nav button[class = "navbar-toggle"] > span[class = "icon-bar"]{
	background-color: #FFF !important;
}

/*
	MENU-SECUNDARIO
*/

#menu-secundario{
	background: #fff;
	/*background: linear-gradient(to bottom,#fff 0,#f2f2f2 150%);*/
	border: 1px solid #ddd !important;
}

#menu-secundario ul > li a{
	color: #333;
}

#menu-secundario ul > li a[class = "green"]{
	background: #60af31;
	/*background: linear-gradient(top, #4c9220 0, #366817 150%);*/
	color: #FFF;
}

#menu-secundario ul > li a[class = "green"]:hover{
	background: #4c9220;
}

#menu-secundario ul > li a:hover{
	background-color: rgb(231, 231, 231);
}

#menu-secundario .badge{
	background-color: #0f75da;
}

/*
	FOOTER
*/
footer{}

footer > span{
	padding: 1em;
}

/*
	SECCION
*/

.seccion{
	background: white;
	/*box-shadow:	2px 2px 2px 0 rgba(0, 0, 0, 0.3);*/
	border: 1px solid #ddd;
	margin-bottom: 1em;
	/*padding: 	.5em;*/
}

.seccion > div{
	padding: .5em;
}

.seccion > .titulo{
	background: white;
	/*background: linear-gradient(white, #f2f2f2);*/
	border-top: 3px solid #2dabe1;
	border-bottom: 2px solid #e5e5e5;
	border-radius: inherit;
	max-height: 2.8em;
}

/*
	HELPER CLASSES
*/

/*
	TOOLTIP

.tooltip-inner{
	background: #AAA !important;
}

.tooltip-arrow{
	border-top-color: #AAA !important;
}
*/

.fa-asterisk{
	color: red;
}
.fa-question{
	cursor: pointer;
}