table{
	text-align: left;
}
.file-container{
	border-radius: .2em;
	cursor: pointer;
	margin-bottom: 1em;
	padding: .5em;
}

.file-container:hover{
	background-color: rgb(230,230,230);
}

.file-container > .file-preview{
	height: 5em;
	max-height: 100%;
	max-width: 100%;
}

.file-container > .file-name{
	padding: 0px;
}

span > i{
	margin-right: 5px;
}